<!DOCTYPE html>
<html ng-app="SearchApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angularjs/angular.js"></script>

    <script type="text/javascript" src="js/service/service.js"></script>
    <script type="text/javascript" src="js/filter/andSearchFilter.js"></script>
    <script type="text/javascript" src="js/controller/controller.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <title>AngularJS Search Sample</title>
</head>
<body>

<h1>AngularJS Search Filter</h1>

<div ng-controller="SearchController">
    <input type="text" ng-model="keyword" placeholder="Keyword"/>

    <p>
        検索ヒット数 : <span class="searchResultCount hit">{{(users | andSearchFilter:keyword).length}}</span>
        件 / <span class="searchResultCount">{{users.length}}</span> 件中
    </p>

    <table class="data-table">
        <tbody>
        <tr ng-repeat="user in users | andSearchFilter:keyword">
            <td>{{user.name}}</td>
        </tr>
        </tbody>
    </table>
    <p>株式会社シャノン Shanon,inc
    </p>
</div>

</body>
</html>
