<!DOCTYPE html>
<html ng-app="SearchApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/get_json_js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/service/service.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filter/andSearchFilter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/controller/controller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <title>Shannon Lab Search Engine</title>
  </head>
  <body>
    <h1>Shanon Search Engine</h1>
    <form method="POST" action="{% url search %}" name="SEARCH">
      {% csrf_token %}
      <div ng-controller="SearchController">
        <input type="text" name="keyword" ng-model="keyword" placeholder="Keyword" autocomplete="off" />
        <ul class="submenu">
          <li ng-repeat="user in users | andSearchFilter:keyword">
          {$ user.name $}
          </li>
        </ul>
      </div>
      <input type="submit" value="search" />
    </form>
  </body>
  <hr />
  <p>© Shannon Lab 2014.</p>
</html>
